<h2 class="subheader mat-elevation-z2">Select Race</h2>

<mat-table #table class="filter-table" [dataSource]="raceTable">
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
    <mat-cell *matCellDef="let race">{{ race.date }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="location">
    <mat-header-cell *matHeaderCellDef>Location</mat-header-cell>
    <mat-cell *matCellDef="let race">{{ race.location.name }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
    <mat-cell *matCellDef="let race">{{ race.title }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="setSelected(row)"></mat-row>
</mat-table>
