<h1 mat-dialog-title>Add Rider</h1>

<form [formGroup]="entryForm" (keydown.enter)="addEntry()">

<mat-grid-list cols="2" rowHeight="4em">
  <mat-grid-tile role="listitem">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="first_name">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile role="listitem">
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="last_name">
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile role="listitem">
    <mat-form-field>
      <mat-label>Classification</mat-label>
      <input matInput formControlName="classification">
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile role="listitem">
    <mat-form-field>
      <mat-label>Club</mat-label>
      <mat-select formControlName="clubslug">
        <mat-option *ngFor="let aclub of clubs" [value]="aclub">{{aclub}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile role="listitem">
    <mat-form-field>
      <input matInput type='number' formControlName="number" placeholder="Number" cdkFocusInitial>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile role="listitem">
    <mat-form-field>
      <mat-label>Licence</mat-label>
      <input matInput formControlName="licenceno">
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-button-toggle-group #group="matButtonToggleGroup"  formControlName="grade">
      <mat-button-toggle *ngFor="let thegrade of grading" value="{{ thegrade }}" >{{ thegrade }}</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-grid-tile>

  <mat-grid-tile role="listitem">
    <mat-button-toggle-group formControlName="financial">
      <mat-button-toggle value="n">None</mat-button-toggle>
      <mat-button-toggle value="r">Race</mat-button-toggle>
      <mat-button-toggle value="d">Day</mat-button-toggle>
      <mat-button-toggle value="3">3 Race</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="usual_grade != entryForm.value.grade">
    <mat-label>Permanent Grade Change?&nbsp;</mat-label>
    <mat-button-toggle-group formControlName="grade_change">
      <mat-button-toggle value="y">Yes</mat-button-toggle>
      <mat-button-toggle value="n">No</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-grid-tile>


  <mat-grid-tile></mat-grid-tile>

</mat-grid-list>

<div mat-dialog-actions>
  <button mat-raised-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color='primary' (click)="addEntry()" [disabled]="!entryForm.valid">Add Rider</button>
  <span *ngIf="entryForm.status === 'INVALID'" class="ng-invalid">Complete all required fields</span>
</div>

</form>
