<div class="filter-table container">
    <mat-form-field class="filter-field">
        <input matInput (keyup)="applyFilter($event.target.value)" [value]='filterTable.filter' placeholder="Filter Riders">
    </mat-form-field>

    <mat-table #table class="filter-table" [dataSource]="filterTable">
        <ng-container matColumnDef="rider">
            <mat-header-cell *matHeaderCellDef>Rider</mat-header-cell>
            <mat-cell *matCellDef="let rider">{{ rider.first_name}}  {{rider.last_name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="club">
            <mat-header-cell *matHeaderCellDef>Club</mat-header-cell>
            <mat-cell *matCellDef="let rider">{{ rider.club }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="number">
            <mat-header-cell *matHeaderCellDef>License No.</mat-header-cell>
            <mat-cell *matCellDef="let rider">{{ rider.licenceno }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="filterDisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: filterDisplayedColumns;" (click)="openDialog(row)"></mat-row>

    </mat-table>

    <mat-paginator #paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
        [showFirstLastButtons]="true">
    </mat-paginator>

</div>
