<ngb-tabset>
    <ngb-tab *ngFor="let grade of grades">
        <ng-template ngbTabTitle>Grade {{ grade }}</ng-template>
        <ng-template ngbTabContent>
            <table class="grade-table">
                <colgroup>
                   <col span="1" style="width: 20%;">
                   <col span="1" style="width: 30%;">
                   <col span="1" style="width: 50%;">
                </colgroup>
                <thead>
                    <th>Number</th>
                    <th>Rider</th>
                    <th>Club</th>
                </thead>
                <tr *ngFor="let entry of getEntries(grade)">
                    <td class="number-col">{{ entry.number }}</td>
                    <td>{{ entry.rider.fullName() }}</td>
                    <td>{{ entry.rider.getClub().name }}</td>
                </tr>
            </table>
        </ng-template>
    </ngb-tab>
</ngb-tabset>