<div class="container">
    <div class="rider-form main-container">
    </div>
    <div class="main-container">
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <strong>Add Rider</strong>
                </ng-template>
                <form #riderForm="ngForm">
                    <mat-form-field>
                        <input matInput placeholder="Rider" [(ngModel)]="model.rider" name="rider" [ngbTypeahead]="search" [inputFormatter]="formatter" [resultFormatter]="formatter" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Grade" [(value)]="model.grade">
                            <mat-option *ngFor="let grade of grades" [value]="grade">
                                {{ grade }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Number" [(ngModel)]="model.number" name="number" required>
                    </mat-form-field>
                    <button mat-button type="submit" (click)="addRider()" >Add</button>
                </form>
            </mat-tab>
            <mat-tab *ngFor="let gradeTable of gradeTables">
                <ng-template mat-tab-label>
                    Grade {{ gradeTable.grade }}
                </ng-template>
                <mat-table #table [dataSource]="gradeTable.table">
                        <ng-container matColumnDef="number">
                            <mat-header-cell *matHeaderCellDef>Number</mat-header-cell>
                            <mat-cell *matCellDef="let entry">{{ entry.number }}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="rider">
                            <mat-header-cell *matHeaderCellDef>Rider</mat-header-cell>
                            <mat-cell *matCellDef="let entry">{{ entry.rider.fullName() }}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="club">
                            <mat-header-cell *matHeaderCellDef>Club</mat-header-cell>
                            <mat-cell *matCellDef="let entry">{{ entry.rider.getClub().name }}</mat-cell>
                        </ng-container>
            
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>