* {
    font-family: "Roboto", Helvetica, Ariel, sans-serif;
    -webkit-transition: all 0.125s ease;
    transition: all 0.125s ease;
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5;
}

h2 {
    margin: 0;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
.container {
    width: 100%;
    padding: 0.5rem 1rem;
    margin-right: auto;
    margin-left: auto;
}

.subheader {
    padding: 1rem 1.5rem;
    font-weight: 300;
    font-size: 16pt;
    background-color: #5c6bc0;
    color: #fff;
}

.loading {
    text-align: center;
    width: 100%;
    padding: 4rem 0;
}

.filter-field {
    width: 100%;
}

.filter-table mat-row {
    cursor: pointer;
}

.filter-table mat-row:hover {
    background-color: #eee;
}

.filter-table mat-row:active {
    background-color: #ddd;
}

.mat-tab-label {
    min-width: 100px !important;
}

.rider-table {
    min-height: 90vh;
}

.mat-tab-group {
    padding-bottom: 4rem;
}

.mat-button-toggle-label {
    margin-bottom: 0;
}

.mat-button-toggle-checked {
    background-color: #8C9EFF;
}
